<div class="large-calendar d-md-flex">
    <div class="wrap-header d-flex align-items-center">
        <p id="reset">{{ 'calendar_reset'|trans }}</p>
        <div id="header" class="p-0">
            <div class="pre-button d-flex align-items-center justify-content-center"><i
                        class="fa fa-chevron-left"></i></div>
            <div class="head-info">
                <div class="head-day"></div>
                <div class="head-month"></div>
            </div>
            <div class="next-button d-flex align-items-center justify-content-center"><i
                        class="fa fa-chevron-right"></i></div>
        </div>
    </div>
    <div class="calendar-wrap">
        <table id="calendar">
            <thead>
            <tr>
                <th>{{ 'weekday_0'|trans }}</th>
                <th>{{ 'weekday_1'|trans }}</th>
                <th>{{ 'weekday_2'|trans }}</th>
                <th>{{ 'weekday_3'|trans }}</th>
                <th>{{ 'weekday_4'|trans }}</th>
                <th>{{ 'weekday_5'|trans }}</th>
                <th>{{ 'weekday_6'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>