{% extends 'base.html.twig' %}

{% block title %}Waypoint{% endblock %}

{% block body %}
    <h1>Waypoint</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ waypoint.id }}</td>
            </tr>
            <tr>
                <th>DocumentId</th>
                <td>{{ waypoint.documentId }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ waypoint.status }}</td>
            </tr>
            <tr>
                <th>DateTime</th>
                <td>{{ waypoint.dateTime ? waypoint.dateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>



    <a href="{{ path('waypoint_edit', {'id': waypoint.id}) }}">edit</a>

    {{ include('routing/waypoint/_delete_form.html.twig') }}
{% endblock %}
